#passphrase {
  margin: auto;
  text-align: center;
}

#passphrase input {
  border: none;
  width: calc(100% - 2em);
  font-size: 2em;
  padding: 0.5em 1em;
  background-color: rgba(0,0,0,0.25);
  color: lightgray;
  margin-bottom: 1.25em;
  text-align: center;
}

#passphrase input:focus {
  outline: none;
}

.copied-success,
.copy-failed {
  margin: 1.5em;
  display: none;
}

footer {
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:3rem;
  width:100%;
}

footer .credits {
  font-size: smaller;
}
